


.presentation-only{
    display: none;
    }
    
    body.presentation .presentation-only{
    display: block;
    }
    
    body.presentation #main_content{
    max-width:none;
    padding:0;
    }
    
    body.presentation .slide{
    margin:0;
    display:inline-block;
    width:100%;
    height:100VH;
    box-sizing: border-box;
    }
    
    body.presentation .slide-body{
    padding:1vh 1vw;
    
      margin-bottom:0;
    }
    
    body.presentation #header_wrap{
    display:none;
    }
    
    body.presentation p{
    display:none;
    }
    
    
    body.presentation #footer_wrap{
    display:none;
    }
    
    body.presentation h1{
    margin:40vh auto 0 auto;
    font-size:15vh;
    text-align: center;
    }
    
    body.presentation h2{
    margin:0;
    padding:1vh 1vw;
    background: rgb(153,204,153);
        background: linear-gradient(0deg, rgba(153,204,153,1) 0%, rgba(102,153,102,1) 100%);
    font-size:5vh;
    
    text-shadow: rgb(153,204,153) 0 0 10px;
    
    box-sizing: border-box;
    border-bottom:1px solid var(--color-5);
    }
      
     
      
        body.presentation h3, body.presentation h4, body.presentation h5{
    display:none;
      }
      object{
        max-width: 100%;
      }     
      
      body.presentation object{
        max-height: 100%;
        max-width: 100%;
        margin:0 auto;
      }     
      
    body.presentation .slide-body{
        display: inline-block;
        padding:10px;
    }
      
    body.presentation table, body.presentation ul{
        display: none;
    }
    
    #timer{
        position:fixed;
        bottom:1em;
        right:1em;
        border-radius: 2em;
        border:2px solid black;
        font-size:2em;
        width:1.3em;
        height:1.3em;
        padding:.3em;
        background:#faa;
        display:none;
        text-align: center;
    }
    
    body.show-timer #timer{
        display:block;
    }