<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="viewport" content="width=device-width,maximum-scale=2" />
    <meta
      name="description"
      content="Dag's Mind Cabin - Where I collect my thoughts"
    />

    <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
    <link
      rel="stylesheet"
      href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"
    />
    <!-- Syntax highlighting  -->
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mzlogin/rouge-themes@master/dist/github.css">

    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap"
      rel="stylesheet"
    />
    {% seo %}
  </head>

  <body>
    <!-- HEADER -->
    <div id="header_wrap">
      <header>
        <div id="project_title">DagFS.dev</div>
        <div id="theme-toggle" title="change theme"></div>
      </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap">
      <section id="main_content">
        <button id="slides" onClick="togglePresentation()">View slides</button>

        {{ content }}
        <div id="timer">20</div>
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap">
      <footer></footer>
     
      <div id="stats"></div>
    </div>


    <script>
      var wip = `<div class="wip">
                        <i class="las la-exclamation-triangle main-icon"></i>
                        <br />
                        <span class="main"><i class="las la-wrench"></i> This article is under construction.</span>
                        <br />It's content, structure or url might change without notice or changelog.
            </div>`;
      if (window.location.href.indexOf("wip") > -1) {
        var wrap = document.createElement("div");
        wrap.innerHTML = wip;
        document.getElementById("main_content").prepend(wrap);
      }
    </script>

    <script>
      var presenterWindow = null;
      function asHTML(node) {
        var wrap = document.createElement("div");
        wrap.appendChild(node.cloneNode(true));
        return wrap.innerHTML;
      }
      var currentSlide = 0;
      var slideCount = 0;
      var content = document.getElementById("main_content");
      var newContent = "";
      var currentSection = "";
      for (var i = 0; i < content.children.length; i++) {
        const child = content.children[i];

        if (["H1", "H2", "H3"].includes(content.children[i].nodeName)) {
          if (child.innerHTML.indexOf("[presentation-only]") > -1) {
            console.log(child);
            child.classList.add("presentation-only");
            child.innerHTML = child.innerHTML.replace(
              "[presentation-only]",
              ""
            );
          }
          if (currentSection) {
            newContent +=
              "\n</div>\n<div id='slide" +
              slideCount +
              "' class='slide'>\n" +
              currentSection +
              "\n</div>\n";
            slideCount++;
          }
          currentSection = asHTML(child) + '\n<div class="slide-body">\n';
        } else {
          currentSection += asHTML(child);
        }
      }
      newContent +=
        "\n</div>\n<div id='slide" +
        slideCount +
        "' class='slide'>\n" +
        currentSection +
        "\n</div>\n";

      content.innerHTML = newContent;

      document.addEventListener("keydown", keyDownTextField, false);

      var presentation = false;
      var presenterMode = false;

      function keyDownTextField(e) {
        var keyCode = e.keyCode;
        if (keyCode == 33 || keyCode == 37) {
          e.preventDefault();
          prev();
        }
        if (keyCode == 34 || keyCode == 39) {
          e.preventDefault();
          next();
        }

        if (keyCode == 80) {
          togglePresentation();
        }

        if (keyCode == 116) {
          presentation = false;
          togglePresentation();
        }

        if (keyCode == 27) {
          presentation = true;
          togglePresentation();
        }

        if (keyCode == 75 || keyCode == 190) {
          togglePC();
        }
      }

      document.onfullscreenchange = togglePresentation;

      function togglePresentation() {
        presentation = !presentation;
        if (presentation) {
          document.body.classList.add("presentation");
          if (confirm("Open presenter window?")) {
            openPresenterWindow();
          }
        } else {
          document.body.classList.remove("presentation");
        }
      }

      function prev() {
        currentSlide--;
        if (currentSlide < 0) currentSlide = 0;
        gotoSlide(currentSlide);
      }

      function next() {
        currentSlide++;
        if (currentSlide > slideCount) currentSlide = slideCount;
        gotoSlide(currentSlide);
      }

      function gotoSlide(slide) {
        if (presenterWindow) presenterWindow.location.hash = "slide" + slide;
        setTimeout(() => {
          window.location.hash = "slide" + slide;
        }, 100);
      }
      var secondsLeft = 20;
      var pcTimeout;
      function togglePC() {
        toggleTimerVisability();
        if (!pcTimeout) {
          runPC();
        } else {
          clearTimeout(pcTimeout);
          pcTimeout = undefined;
        }
      }

      function runPC() {
        pcTimeout = setTimeout(() => {
          if (secondsLeft > 1) {
            secondsLeft--;
            updateTimer();
            runPC();
          } else {
            secondsLeft = 20;
            updateTimer();
            if (currentSlide < slideCount) {
              next();
              runPC();
            }
          }
        }, 1000);
      }

      function updateTimer() {
        document.getElementById("timer").innerHTML = secondsLeft;
      }

      function toggleTimerVisability() {
        if (document.body.classList.contains("show-timer")) {
          document.body.classList.remove("show-timer");
        } else {
          document.body.classList.add("show-timer");
        }
      }

      function openPresenterWindow() {
        if (presenterWindow == null || presenterWindow.closed) {
          presenterWindow = open(
            window.location.href,
            "_blank",
            "width=200,height=100"
          );
          console.log(presenterWindow);
          setTimeout(startPresenterMode, 5000);
        } else {
          presenterWindow.focus();
        }
      }

      function startPresenterMode() {
        presenterWindow.document.body.classList.add("presentation");
        presenterWindow.document.body.classList.add("presenter-mode");
      }
    </script>
    <script>
      const setTheme = (theme) => {
        localStorage.setItem("theme", theme);
        document.body.classList.remove("dark");
        document.body.classList.remove("light");
        switch (theme) {
          case State.Dark:
            return document.body.classList.add("dark");
          case State.Light:
            return document.body.classList.add("light");
        }
      };

      const State = {
        Auto: "auto",
        Light: "light",
        Dark: "dark",
      };

      const getNextState = (currentState) => {
        let systemColorScheme = State.Auto;
        if (
          window.matchMedia &&
          window.matchMedia("(prefers-color-scheme: dark)").matches
        ) {
          let systemColorScheme = State.Dark;
        }

        if (systemColorScheme === State.Dark) {
          switch (currentState) {
            case State.Dark:
              return State.Light;
            case State.Light:
              return State.Auto;
            default:
              return State.Dark;
          }
        }

        switch (currentState) {
          case State.Light:
            return State.Dark;
          case State.Dark:
            return State.Auto;
          default:
            return State.Light;
        }
      };

      const themeToggle = document.getElementById("theme-toggle");
      themeToggle.onclick = function () {
        const theme = localStorage.getItem("theme");
        setTheme(getNextState(theme));
      };

      const theme = localStorage.getItem("theme");
      setTheme(theme);
    </script>
    <script>
      if(document.location.href.indexOf("articles") > -1){

        document.body.classList.add("article")
      }


    </script>
    <script>
       function readingTime() {
        const text = document.getElementById("main_content").innerText;
        const wpm = 225;
        const words = text.trim().split(/\s+/).length;
        const time = Math.ceil(words / wpm);
        const wpp = 476;
        const pages =  Math.ceil(words / wpp);
        document.getElementById("stats").innerHTML = `
        Reading time: ${time} minutes <br>
        Words: ${words} <br>
       Pages: ${pages} <br>
        `;
      }
      readingTime();
    </script>
  </body>
</html>
