<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="viewport" content="width=device-width,maximum-scale=2" />
    <meta
      name="description"
      content="Dag's Mind Cabin - Where I collect my thoughts"
    />

    <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
    <!-- <link
      rel="stylesheet"
      href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"
    />
    Syntax highlighting  
    -->
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mzlogin/rouge-themes@master/dist/github.css">
<!--
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap"
      rel="stylesheet"
    /> -->
    {% seo %}
  </head>

  <body>
    <!-- HEADER -->
    <div id="header_wrap">
      <header>
        <div id="project_title">DagFS.dev</div>
        <div id="theme-toggle" title="change theme"></div>
      </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap">
      <button id="slides" onClick="togglePresentation()">View slides</button>
      <section id="main_content">

        {{ content }}
        <div id="timer">20</div>
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap">
      <footer></footer>
     
      <div id="stats"></div>
    </div>

    <script src="/assets/js/wip.js"></script>
    <script src="/assets/js/presentation.js"> </script>
    <script src="/assets/js/theme.js"></script>
    <script src="/assets/js/article.js"></script>
    <script src="/assets/js/readingTime.js"></script>
    <script src="/assets/js/bionicReading.js"></script>
  </body>
</html>
