<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="viewport" content="width=device-width,maximum-scale=2" />
    <meta
      name="description"
      content="Dag's Mind Cabin - Where I collect my thoughts"
    />

    <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
    <!-- <link
      rel="stylesheet"
      href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"
    />
    Syntax highlighting  

       <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mzlogin/rouge-themes@master/dist/github.css">

    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap"
      rel="stylesheet"
    /> -->

    <script>
      !function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.async=!0,p.src=s.api_host+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags".split(" "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
      posthog.init('phc_IQELPSx3pST6rA6mieTOc2M9FYOOqvzalp3RkbCmTPF',{api_host:'https://app.posthog.com'})
    </script>

    {% seo %}
  </head>

  <body>
    <!-- HEADER -->
    <div id="header_wrap">
      <header>
        <div id="project_title">DagFS.dev</div>
        <div id="theme-toggle" title="change theme"></div>
        <svg width="64" height="64" alt="">
          <use href="/assets/images/main.svg#mode-light" xml:space="preserve"></use>
      </svg>
      <svg width="64" height="64" alt="">
        <use href="/assets/images/main.svg#mode-dark" xml:space="preserve"></use>
    </svg>
    <svg width="64" height="64" alt="">
      <use href="/assets/images/main.svg#mode-auto" xml:space="preserve"></use>
  </svg>
      </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap">
      <button id="slides" onClick="togglePresentation()">View slides</button>
      <section id="main_content">

        {{ content }}
        <div id="timer">20</div>
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap">
      <footer></footer>
     
      <div id="stats"></div>
    </div>

    <script src="/assets/js/wip.js"></script>
    <script src="/assets/js/presentation.js"> </script>
    <script src="/assets/js/theme.js"></script>
    <script src="/assets/js/article.js"></script>
    <script src="/assets/js/readingTime.js"></script>
    <script src="/assets/js/bionicReading.js"></script>
  </body>
</html>
